.headerText {
  background-color: transparent;
  color: gray;
  text-align: center;
  font-size: 50px;
  text-transform: none;
}

ul.nav {
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
  border-right: none;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: lightblue;
}

.active {
  background-color: transparent;
}
